<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecust.sharebook.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.ecust.sharebook.pojo.Admin">
    <id column="adminID" jdbcType="INTEGER" property="adminid" />
    <result column="adminName" jdbcType="VARCHAR" property="adminname" />
    <result column="passwd" jdbcType="VARCHAR" property="passwd" />
  </resultMap>
  <sql id="Base_Column_List">
    adminID, adminName, passwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where adminID = #{adminid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where adminID = #{adminid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ecust.sharebook.pojo.Admin">
    <selectKey keyProperty="adminid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into admin (adminName, passwd)
    values (#{adminname,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ecust.sharebook.pojo.Admin">
    <selectKey keyProperty="adminid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminname != null">
        adminName,
      </if>
      <if test="passwd != null">
        passwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminname != null">
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        #{passwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecust.sharebook.pojo.Admin">
    update admin
    <set>
      <if test="adminname != null">
        adminName = #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        passwd = #{passwd,jdbcType=VARCHAR},
      </if>
    </set>
    where adminID = #{adminid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecust.sharebook.pojo.Admin">
    update admin
    set adminName = #{adminname,jdbcType=VARCHAR},
      passwd = #{passwd,jdbcType=VARCHAR}
    where adminID = #{adminid,jdbcType=INTEGER}
  </update>


  <select id="list"  resultType="com.ecust.sharebook.pojo.Admin">
    select
    `adminID`,`adminName`,`passwd`
    from admin
    <where>
       <if test="adminName != null and adminName != ''"> and adminName = #{adminName} </if>
    </where>
  </select>


</mapper>