<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecust.sharebook.mapper.CommenInfMapper" >
  <resultMap id="BaseResultMap" type="com.ecust.sharebook.pojo.CommenInf" >
    <id column="COMMENT_ID" property="commentId" jdbcType="INTEGER" />
    <result column="POST_ID" property="postId" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="COMT_TIME" property="comtTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMMENT_ID, POST_ID, USER_ID, CONTENT, COMT_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment_inf
    where COMMENT_ID = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment_inf
    where COMMENT_ID = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ecust.sharebook.pojo.CommenInf" >
    <selectKey resultType="java.lang.Integer" keyProperty="commentId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into comment_inf (POST_ID, USER_ID, CONTENT, 
      COMT_TIME)
    values (#{postId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{comtTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ecust.sharebook.pojo.CommenInf" >
    <selectKey resultType="java.lang.Integer" keyProperty="commentId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into comment_inf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        POST_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="comtTime != null" >
        COMT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="comtTime != null" >
        #{comtTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecust.sharebook.pojo.CommenInf" >
    update comment_inf
    <set >
      <if test="postId != null" >
        POST_ID = #{postId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="comtTime != null" >
        COMT_TIME = #{comtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where COMMENT_ID = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecust.sharebook.pojo.CommenInf" >
    update comment_inf
    set POST_ID = #{postId,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=INTEGER},
      CONTENT = #{content,jdbcType=VARCHAR},
      COMT_TIME = #{comtTime,jdbcType=TIMESTAMP}
    where COMMENT_ID = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>