<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecust.sharebook.mapper.rBcircleMemberMapper" >
  <resultMap id="BaseResultMap" type="com.ecust.sharebook.pojo.rBcircleMember" >
    <id column="BC_MEM_ID" property="bcMemId" jdbcType="INTEGER" />
    <result column="Book_Circle_ID" property="bookCircleId" jdbcType="INTEGER" />
    <result column="MEMBER_ID" property="memberId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    BC_MEM_ID, Book_Circle_ID, MEMBER_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from r_bcircle_member
    where BC_MEM_ID = #{bcMemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from r_bcircle_member
    where BC_MEM_ID = #{bcMemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ecust.sharebook.pojo.rBcircleMember" >
    <selectKey resultType="java.lang.Integer" keyProperty="bcMemId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into r_bcircle_member (Book_Circle_ID, MEMBER_ID)
    values (#{bookCircleId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ecust.sharebook.pojo.rBcircleMember" >
    <selectKey resultType="java.lang.Integer" keyProperty="bcMemId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into r_bcircle_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookCircleId != null" >
        Book_Circle_ID,
      </if>
      <if test="memberId != null" >
        MEMBER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookCircleId != null" >
        #{bookCircleId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecust.sharebook.pojo.rBcircleMember" >
    update r_bcircle_member
    <set >
      <if test="bookCircleId != null" >
        Book_Circle_ID = #{bookCircleId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        MEMBER_ID = #{memberId,jdbcType=INTEGER},
      </if>
    </set>
    where BC_MEM_ID = #{bcMemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecust.sharebook.pojo.rBcircleMember" >
    update r_bcircle_member
    set Book_Circle_ID = #{bookCircleId,jdbcType=INTEGER},
      MEMBER_ID = #{memberId,jdbcType=INTEGER}
    where BC_MEM_ID = #{bcMemId,jdbcType=INTEGER}
  </update>
</mapper>