<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecust.sharebook.mapper.UserInfMapper" >
  <resultMap id="BaseResultMap" type="com.ecust.sharebook.pojo.UserInf" >
    <id column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="OPEN_ID" property="openId" jdbcType="VARCHAR" />
    <result column="SESSION_KEY" property="sessionKey" jdbcType="VARCHAR" />
    <result column="UNION_ID" property="unionId" jdbcType="VARCHAR" />
    <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
    <result column="GENDER" property="gender" jdbcType="BIT" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="AVATARUrl" property="avatarUrl" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMapPublic" type="com.ecust.sharebook.pojo.UserInf" >
    <id column="USER_ID" property="userId" jdbcType="INTEGER" />
   <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
    <result column="GENDER" property="gender" jdbcType="BIT" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
    <result column="AVATARUrl" property="avatarUrl" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    USER_ID, OPEN_ID, SESSION_KEY, UNION_ID, NICK_NAME, GENDER, CITY, PROVINCE, COUNTRY, 
    TEL,AVATARUrl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_inf
    where USER_ID = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_inf
    where USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ecust.sharebook.pojo.UserInf" >
    <selectKey resultType="java.lang.Integer" keyProperty="userId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_inf (OPEN_ID, SESSION_KEY, UNION_ID, 
      NICK_NAME, GENDER, CITY, 
      PROVINCE, COUNTRY, TEL,AVATARUrl
      )
    values (#{openId,jdbcType=VARCHAR}, #{sessionKey,jdbcType=VARCHAR}, #{unionId,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{gender,jdbcType=BIT}, #{city,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR},
      #{avatarUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ecust.sharebook.pojo.UserInf" >
    <selectKey resultType="java.lang.Integer" keyProperty="userId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_inf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        OPEN_ID,
      </if>
      <if test="sessionKey != null" >
        SESSION_KEY,
      </if>
      <if test="unionId != null" >
        UNION_ID,
      </if>
      <if test="nickName != null" >
        NICK_NAME,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="country != null" >
        COUNTRY,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="avatarUrl != null">
        AVATARUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null" >
        #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null" >
        #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=BIT},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecust.sharebook.pojo.UserInf" >
    update user_inf
    <set >
      <if test="openId != null" >
        OPEN_ID = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null" >
        SESSION_KEY = #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null" >
        UNION_ID = #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        GENDER = #{gender,jdbcType=BIT},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        AVATARUrl = #{avatarUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecust.sharebook.pojo.UserInf" >
    update user_inf
    set OPEN_ID = #{openId,jdbcType=VARCHAR},
      SESSION_KEY = #{sessionKey,jdbcType=VARCHAR},
      UNION_ID = #{unionId,jdbcType=VARCHAR},
      NICK_NAME = #{nickName,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=BIT},
      CITY = #{city,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      AVATARUrl = #{avatarUrl,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>

  <select id="selectUserByOepnid" resultType="com.ecust.sharebook.pojo.UserInf">
    select `USER_ID`,`OPEN_ID`,`SESSION_KEY`,`UNION_ID`,`NICK_NAME`,`GENDER`,`CITY`,`PROVINCE`,`COUNTRY`,`TEL`,`AVATARUrl` from user_inf
    where OPEN_ID= #{openId}

  </select>

  <select id="get" resultType="com.ecust.sharebook.pojo.UserInf">
		select `USER_ID`,`OPEN_ID`,`SESSION_KEY`,`UNION_ID`,`NICK_NAME`,`GENDER`,`CITY`,`PROVINCE`,`COUNTRY`,`TEL` ,`AVATARUrl` from user_inf
		where USER_ID = #{userId}
	</select>

  <insert id="save" parameterType="com.ecust.sharebook.pojo.UserInf" useGeneratedKeys="true" keyProperty="userId">
		insert into user_inf
		(
		`OPEN_ID`,
		`SESSION_KEY`,
		`UNION_ID`,
		`NICK_NAME`,
		`GENDER`,
		`CITY`,
		`PROVINCE`,
		`COUNTRY`,
		`TEL`,
		`AVATARUrl`
		)
		values
		(
		#{openId},
		#{sessionKey},
		#{unionId},
		#{nickName},
		#{gender},
		#{city},
		#{province},
		#{country},
		#{tel},
		#{avatarUrl}
		)
	</insert>


  <update id="updateSkeyByOpid" >
    update user_inf
    <set>
      <if test="sessionKey != null">`SESSION_KEY`= #{sessionKey}, </if>
    </set>
    where OPEN_ID = #{openId}
  </update>



  <select id="list" resultType="com.ecust.sharebook.pojo.UserInf">
    select   `USER_ID`, `OPEN_ID`, `SESSION_KEY`,`UNION_ID`, `NICK_NAME`, `GENDER`, `CITY`, `PROVINCE`, `COUNTRY`,
    `TEL`,`AVATARUrl`
    from user_inf
    <where>
      <if test="userId != null and userId != ''"> and USER_ID = #{userId} </if>
      <if test="openId != null and openId != ''"> and OPEN_ID = #{openId} </if>
      <if test="sessionKey != null and sessionKey != ''"> and SESSION_KEY = #{sessionKey} </if>
      <if test="unionId != null and unionId != ''"> and UNION_ID = #{unionId} </if>
      <if test="nickName != null and nickName != ''"> and NICK_NAME = #{nickName} </if>
      <if test="gender != null and gender != ''"> and GENDER = #{gender} </if>
      <if test="city != null and city != ''"> and CITY = #{city} </if>
      <if test="country != null and country != ''"> and COUNTRY = #{country} </if>
      <if test="tel != null and tel != ''"> and TEL = #{tel} </if>
      <if test="avatarUrl != null and avatarUrl != ''"> and AVATARUrl = #{avatarUrl} </if>
    </where>
    <choose>
      <when test="sort != null and sort.trim() != ''">
        order by ${sort} ${order}
      </when>
      <otherwise>
        order by USER_ID desc
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>


  <select id="listPublic" resultMap="BaseResultMapPublic">
    select   `USER_ID`,  `NICK_NAME`, `GENDER`, `CITY`, `PROVINCE`, `COUNTRY`,`AVATARUrl`
    from user_inf
    <where>
      <if test="userId != null and userId != ''"> and USER_ID = #{userId} </if>
      <if test="openId != null and openId != ''"> and OPEN_ID = #{openId} </if>
      <if test="sessionKey != null and sessionKey != ''"> and SESSION_KEY = #{sessionKey} </if>
      <if test="unionId != null and unionId != ''"> and UNION_ID = #{unionId} </if>
      <if test="nickName != null and nickName != ''"> and NICK_NAME = #{nickName} </if>
      <if test="gender != null and gender != ''"> and GENDER = #{gender} </if>
      <if test="city != null and city != ''"> and CITY = #{city} </if>
      <if test="country != null and country != ''"> and COUNTRY = #{country} </if>
      <if test="tel != null and tel != ''"> and TEL = #{tel} </if>
      <if test="avatarUrl != null and avatarUrl != ''"> and AVATARUrl = #{avatarUrl} </if>
    </where>
    <choose>
      <when test="sort != null and sort.trim() != ''">
        order by ${sort} ${order}
      </when>
      <otherwise>
        order by USER_ID desc
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>



</mapper>